## git-lfs ##
#Image
*.jpg               filter=lfs diff=lfs merge=lfs -text
*.jpeg              filter=lfs diff=lfs merge=lfs -text
*.png               filter=lfs diff=lfs merge=lfs -text
*.gif               filter=lfs diff=lfs merge=lfs -text
*.psd               filter=lfs diff=lfs merge=lfs -text
*.ai                filter=lfs diff=lfs merge=lfs -text
#Audio
*.mp3               filter=lfs diff=lfs merge=lfs -text
*.wav               filter=lfs diff=lfs merge=lfs -text
*.ogg               filter=lfs diff=lfs merge=lfs -text
#Video
*.mp4               filter=lfs diff=lfs merge=lfs -text
*.mov               filter=lfs diff=lfs merge=lfs -text
#3D Object
*.FBX               filter=lfs diff=lfs merge=lfs -text
*.fbx               filter=lfs diff=lfs merge=lfs -text
*.blend             filter=lfs diff=lfs merge=lfs -text
*.obj               filter=lfs diff=lfs merge=lfs -text
#ETC
*.a                 filter=lfs diff=lfs merge=lfs -text
*.exr               filter=lfs diff=lfs merge=lfs -text
*.tga               filter=lfs diff=lfs merge=lfs -text
*.pdf               filter=lfs diff=lfs merge=lfs -text
*.zip               filter=lfs diff=lfs merge=lfs -text
*.dll               filter=lfs diff=lfs merge=lfs -text
*.unitypackage      filter=lfs diff=lfs merge=lfs -text
*.aif               filter=lfs diff=lfs merge=lfs -text
*.ttf               filter=lfs diff=lfs merge=lfs -text
*.rns               filter=lfs diff=lfs merge=lfs -text
*.reason            filter=lfs diff=lfs merge=lfs -text
*.lxo               filter=lfs diff=lfs merge=lfs -text
*.DLL filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
dsymutil filter=lfs diff=lfs merge=lfs -text
*.DYLIB filter=lfs diff=lfs merge=lfs -text
*.so[[:space:]]*.dylib[[:space:]]dsymutil[[:space:]]*DYLIB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
dismutil[[:space:]]libburst-llvm-10.dylib[[:space:]]libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
